*.class

.DS_Store

# Output Directories #
build/
out/
/bin/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE-specific files
*.iml
vcs.xml
.idea/
.project
.settings/

# Gradle files that we do not need
settings.gradle
/.gradle/